<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Arbaminch General Hospital</title>
  <link rel="icon" type="image/x-icon" href="static/images/stethoscope_2002576.png">
  <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
  <df-messenger
    chat-icon="https:&#x2F;&#x2F;cdn-icons-png.flaticon.com&#x2F;128&#x2F;8943&#x2F;8943377.png"
    chat-title="Lucyy"
    agent-id="1dfc24c3-de8f-4fa9-b7a9-7cf4c2baa0a4"
    language-code="en"
  ></df-messenger>
  
</head>

<body>
  {% include "hospital/navbar.html" %}
  {%block content%}

  {%endblock content%}
  {% include "hospital/footer.html" %}
</body>

</html>
